:root {
    --orandzine: #DE523B; 
    --plotis: 1000px;
    --sonasleft: calc((100% - var(--plotis)) / 2);
    --main-width: calc(var(--plotis)+ var(--sonasleft));
    --text-width: calc(var(--plotis) * 0.4) ;
    --text-margin: calc(var(--plotis) * 0.1);
    --img-width: calc(100% - var(--plotis) / 2);
}
header {display: inline-block;
    width: var(--plotis);
    margin-left: var(--sonasleft)   
}

header>img {
    float: left;
    height: 60px;


}

main>img {
    width: var(--img-width);
    float: right;
}

nav {float: right;
    
    margin-top: 15.75px;
    
}
nav>a { 
    line-height: 20px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
}

header a+a {margin-left: 25px ;}

nav > a:first-child{

border-color: #DE523B;
}


a {text-decoration: none;
    font-family:cursive ;
    color: #2C2540;
    
}

nav>a:hover {
    
    border-color: var(--orandzine)
}
main {
    width: var(--main-width);
    margin-left: var(--sonasleft);
}

section {display: inline-block;
    width: 100%;
}

h1 {font-size: 35px;
    font-family:cursive ;
    margin: 0;
    
}

div {
    width: var(--text-width);
    text-align: left;
     
    margin-top: 10%;
    margin-right: var(--text-margin);
    float: left;
    }
p {
    font-family:cursive ;
    font-size: 14px;

    
}

div>a {
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FF4622;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    
}

h1+p {
    margin-bottom: 10%;
}

h1>span {
    color: #FF4620;
}
